testRuns/
enc_preproc_outputs/
notebooks/
encoder/saved_models/
venvsingerenc/
train-clean-100/
runs/
nohup_logs/
sorted_runs/
default_trained/
voice_embs_visuals_metadata/
example_feats/
*pycache__/
*.pyc
*.sw*
*.log
